/* ==========================================================================
   -- Main.css
   ========================================================================== */

    header{
        width: 100%;
        margin: 50px auto 30px auto;
        display: table;
    }

    header a.title{
        text-align: center;
        display: block;
    }

    header a.title h2{
        margin: 0 auto 20px auto;
    }

    header nav.options{
        margin: auto;
        display: block;
    }

    header nav.options ul{
        display: table;
        margin: 0 auto;
        padding: 0;
        width: 300px;
    }

    header nav.options ul li{
        width: 50%;
        float: left;
        list-style: none;
    }

    header nav.options ul li a{
        width: 100%;
        display: block;
        text-align: center;
        text-decoration: underline;
    }

    form fieldset.form-group{
        margin-bottom: 0;
    }

    .loading .well{
        width: auto;
        text-align: center;
        margin: 0 auto;
        display: table;
        padding: 10px;
    }

    .loading .well i,
    .loading .well span{
        color: #337ab7;
        font-size: 20px;
        line-height: 20px;
        float: left;
    }

    .loading .well i{
        margin-right: 10px;
    }

    .loading .well span{
        font-size: 14px;
    }
