<header>
    <a ui-sref="team" class="title">
        <h2>Enterprise Team</h2>
    </a>
</header>
<form>
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>ID:</b></td>
                <td><b>Name:</b></td>
                <td><b>Job:</b></td>
                <td><b>Save:</b></td>
                <td><b>Cancel:</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <fieldset class="form-group">
                        <input type="text" ng-model="person.id" value="{{person.id}}" class="form-control" disabled>
                    </fieldset>
                </td>
                <td>
                    <fieldset class="form-group">
                        <input type="text" ng-model="person.name" placeholder="Type a name" class="form-control">
                    </fieldset>
                </td>
                <td>
                    <fieldset class="form-group">
                        <input type="text" ng-model="person.job" placeholder="Type a job" class="form-control">
                    </fieldset>
                </td>
                <td><button ng-click="save()" class="btn btn-primary">Save</button></td>
                <td><a ui-sref="team" class="btn btn-primary">Cancel</a></td>
            </tr>
        </tbody>
    </table>
</form>
