<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Name:</b></td>
            <td><b>Job:</b></td>
            <td><b>Edit:</b></td>
            <td><b>Delete:</b></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in team">
            <td>{{person.name}}</td>
            <td>{{person.job}}</td>
            <td><a ui-sref="edit({id: person.id})"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></a></td>
            <td><a ng-click="delete(person.id)"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a></td>
        </tr>
    </tbody>
</table>
